@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', serif;
  width: 100%;
  background-color: #f7fdfc;

  font-size: 1.6rem;
}

.container {
  padding: 8.1rem 14rem;
  display: flex;
  gap: 100px;
}

.container-left {
  flex-basis: 460px;
}

.container-left div {
}

.container-left h1 {
  font-size: 40px;
  line-height: 5rem;
}

.container-left p {
  color: #737373;
  margin-top: 24px;
}

.container-right {
  flex-basis: 580px;
}

.form-container {
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 50px #0408131a;
}

.input-container {
  width: 100%;
}

.row {
  display: flex;
  gap: 30px;
}

.row:not(:last-of-type) {
  margin-bottom: 30px;
}

.cta {
  border-radius: 2px;
  width: 100%;
  background-color: #2ec4b6;
  padding: 20px 0;
  border: 0;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin-top: 40px;
}

.form-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.form-footer span {
  font-weight: font-medium;
  color: #2ec4b6;
}

/* Utilities */
.flex {
  display: flex;
}

.hidden {
  display: none;
}
/* elements */
label {
  font-size: 1.4rem;
  display: block;
  color: #011c34;
  font-weight: 600;
  margin-bottom: 10px;
}

input {
  display: block;
  width: 100%;
  padding: 15px 20px;
  border: none;
  outline: 1px solid #f0f0f0;
  background-color: transparent;
  border-radius: 6px;
  transition: all 0.1s ease-in-out;
}

select {
  display: block;
  width: 100%;
  padding: 15px 20px;
  border: none;
  outline: 1px solid #f0f0f0;
  background-color: transparent;
  border-radius: 6px;
  transition: all 0.1s ease-in-out;
}

select:focus {
  outline: 1px solid #2ec4b6;
  box-shadow: 0 10px 40px #0000001a;
}

@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 8.1rem 20px;
    gap: 40px;
  }
  .container-left {
    flex-basis: auto;
  }
  .container-left h1 {
    font-size: 30px;
    align-items: self-start;
  }
  .container-left p:first-of-type {
    color: #737373;
    margin-top: 0;
    display: none;
  }
  .container-left p:last-of-type {
    color: #737373;
    margin-top: 0;
    display: block;
  }

  .row {
    display: block;
  }
  .input-container:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .form-footer {
    display: none;
  }

  .form-footer-out {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  .form-footer-out span {
    font-weight: font-medium;
    color: #2ec4b6;
  }
}
